# Dependencies
node_modules/

# Build
dist/
build/

# Local env
.env
.env.local
.env.*.local

# Logs and cache
*.log
npm-debug.log*
.pnpm-debug.log*
.vite/

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.local
.cache/
